PORT=3000

# web3 = JSON local + blockchain Soroban (sin MySQL)
# mysql = base de datos MySQL tradicional
STORAGE_MODE=web3

# Solo si STORAGE_MODE=mysql:
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=TU_PASSWORD_DE_MYSQL_AQUI
DB_NAME=turismo_blockchain

JWT_SECRET=cambia-este-secreto-en-produccion
CONTRACT_ID=CCK5C6NBWBPMATNCGL5O6DI6QRELKK5K3KUXZOOSJXJM4OL6KZQTINS4
STELLAR_NETWORK=testnet
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

WEBAUTHN_RP_ID=localhost
WEBAUTHN_ORIGIN=http://localhost:5173
