PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=2403
DB_NAME=turismo_blockchain
JWT_SECRET=your-secret-key-change-in-production
CONTRACT_ID=CCK5C6NBWBPMATNCGL5O6DI6QRELKK5K3KUXZOOSJXJM4OL6KZQTINS4
STELLAR_NETWORK=testnet
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
